@import "src/assets/less/global_style";

.header{
  display: flex;
  width: 100vw;
  height: 8vh;
  padding-left: 10px;
  background: @cicbo-green;
  border-bottom:white solid 3px ;
}

.title{
  font-size: 45px;
  color: white;
  font-family: @cicbo-font;
  margin-right: 1rem;
}

.img-nav{
  padding-left: 1rem;
  max-height: 8vh;
  height:55px
}


