.title{
  font-size: 45px;
  color: white;
  font-family: "Arial Rounded MT", sans-serif;
}

.img-nav{
  width: 50px;
}

.header{
  background: #559C5E;
  border-bottom:white solid 3px ;
}

.menu-container{
  width: 60%;
  float:right;
  padding: 0%;
}



