.title{
  font-size: 45px;
  color: white;
  font-family: "Arial Rounded MT", sans-serif;
  margin-right: 10px;
}
.nav-button{
  height: 50%;
}
.img-nav{
  height:55px
}

.header{
  background: #559C5E;
  border-bottom:white solid 3px ;
}



