<div class="d-flex p-2 header">
  <div class="d-flex ">

    <a  type="button" class="">
      <img src="assets/images/menu.png" alt=""  class="img-nav img-fluid rounded-circle">
    </a>

  </div>
  <div class="flex-fill"></div>
  <div class="d-flex ">
    <h1 class="title">CICBO</h1>
  </div>
</div>
<app-navigation></app-navigation>
<div class="container menu-container">
  <app-menu-button image_path="./assets/images/info.png" text="Notify"></app-menu-button>
  <app-menu-button image_path="./assets/images/guests.png" text="Guest"></app-menu-button>
  <app-menu-button image_path="./assets/images/staff.png" text="Employees"></app-menu-button>
  <app-menu-button image_path="./assets/images/door.png" text="rooms"></app-menu-button>
</div>
