@import "src/assets/less/global_style";

.navigation-container{
  top: 8vh;
  display: flex; /*TODO: change to flex*/
  width: @navigation-width;
  flex-direction: column;
  background-color:  @cicbo-green;
  position: absolute;
  z-index: 1;
}

.header{
  display: flex;
  width: 100vw;
  height: 8vh;
  background: @cicbo-green;
  border-bottom:white solid 3px ;
}

.title{
  font-size: 45px;
  color: white;
  font-family: @cicbo-font;
  margin-right: 60px;
}

.nav-button{
  padding-left: 40px;
}

.img-nav{
  max-height: 8vh;
  height:55px
}


