<div class="main-container">
  <app-header></app-header>



  <div class="view flex-1">


    <!--TODO: animate https://mdbootstrap.com/docs/jquery/css/animations/
    http://jsfiddle.net/2vLjU/1/
    -->
      <div class="container p-0 navigation-container">
        <app-navigation></app-navigation>
      </div>



    <div class="page-top d-flex">

        <div class="breadcrumb m-0 d-flex"></div>

      <div class="page-title d-flex align-self-center text">
        <h1>Welcome</h1>
      </div>
    </div>



    <div class="page-middle row">

      <div class="information ">
        <div class="page-description">
          <p class="regular-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consequuntur earum eum, modi molestias necessitatibus nulla officiis quae temporibus vel? Earum esse fugit impedit, labore nisi quaerat tenetur vel voluptate?
          </p>
        </div>
        <div class="favorite-page-links d-flex row">
          <app-small-button text="Hello I am a button" link="test"></app-small-button>
          <app-small-button text="Hello I am a button" link="test"></app-small-button>
          <app-small-button text="Hello I am a button" link="test"></app-small-button>
          <app-small-button text="Hello I am a button" link="test"></app-small-button>

        </div>
      </div>



        <div class="container p-0 menu-container col ">
          <app-menu-button image_path="./assets/images/info_s.png" text="Notify"></app-menu-button>
          <app-menu-button image_path="./assets/images/guests.png" text="Guest"></app-menu-button>
          <app-menu-button image_path="./assets/images/staff.png" text="Employees"></app-menu-button>
          <app-menu-button image_path="./assets/images/door.png" text="rooms"></app-menu-button>
        </div>



    </div>

    <div class="page-bottom"></div>

  </div>



</div>
