<div class="main-container">
  <app-header></app-header>

  <div class="view">


    <!--TODO: animate https://mdbootstrap.com/docs/jquery/css/animations/-->
      <div class="container p-0 navigation-container">
        <app-navigation></app-navigation>
      </div>
    <!--
    <div class="page-description">
    <div class="spacer"></div>
    -->

    <div class="top-spacer">Helo</div>

    <div class="container p-0 menu-container ">
      <app-menu-button image_path="./assets/images/info_s.png" text="Notify"></app-menu-button>
      <app-menu-button image_path="./assets/images/guests.png" text="Guest"></app-menu-button>
      <app-menu-button image_path="./assets/images/staff.png" text="Employees"></app-menu-button>
      <app-menu-button image_path="./assets/images/door.png" text="rooms"></app-menu-button>
    </div>

    <div class="bottom-spacer"></div>


  </div>

</div>
