@import "src/app/less/global_style";

.navigation-container{
  flex-direction: column;
  top: @header-height;
  width: @width-1;
  background-color: @green;
  position: absolute;
  z-index: 1;
}

.header{
  justify-content: space-between;
  width: 100vw;
  height: @header-height;
  align-items: center;
  background: @green;
  border-bottom:white solid 3px;
}

.title{
  padding-right: @pad-lr;
  .font(@thick, @large, white);
}

.nav-button{
  padding-left: @pad-lr;
}

.img-nav{
  height:@header-height*0.7;
}


