<app-page-content text="Welcome">


  <div class="page-div-1">
    <div class="description">
      <p class="info-text">
        CICBO is a Corona Business
        Optimizer. Keep track of your
        guests, and employees. Notify all
        affected customers and
        employees when a corona
        infection is reported.
      </p>
    </div>



    <div class="freq-pages">
      <app-small-button text="New Guest" routingLink="/new-guest"></app-small-button>
      <app-small-button text="New Staff" routingLink="/new-staff"></app-small-button>
    </div>
  </div>


  <div class="page-div-2">
    <div class="menu-container">
      <app-menu-button  routingLink="/notify" imagePath="./assets/images/info_s.png" text="Alarm"></app-menu-button>
      <app-menu-button  routingLink="/guests" imagePath="./assets/images/guests.png" text="Guest"></app-menu-button>
      <app-menu-button  routingLink="/employee" imagePath="./assets/images/staff.png" text="Staff"></app-menu-button>
      <app-menu-button  routingLink="/rooms" imagePath="./assets/images/door.png" text="Rooms"></app-menu-button>
    </div>
  </div>

</app-page-content>
