<app-page-content text="Welcome">
  <app-content-fixed-size>
    <div class="page-description">
      <p class="regular-text">
        CICBO is a Corona Business
        Optimizer. Keep track of your
        guests, and employees. Notify all
        affected customers and
        employees when a corona
        infection is reported.
      </p>
    </div>

    <div class="favorite-page-links d-flex row">
      <app-small-button text="New Guest" routingLink="\new-guest"></app-small-button>
      <app-small-button text="New Employee" routingLink="\new-employee"></app-small-button>
      <app-small-button text="New Room" routingLink="\new-employee"></app-small-button>
    </div>
  </app-content-fixed-size>

</app-page-content>
