@import "src/app/less/global_style";


.page-content{
  flex-direction: row;
  flex-wrap: wrap;
}

.info-text{
  padding: @pad-lr;
}

.wrapper-info{
  height: 100vh - @header-height;
  width: @width-1;
}
@import "src/app/less/global_style";


.page-content{
  flex-direction: row;
  flex-wrap: wrap;
}

.info-text{
  padding: @pad-lr;
}

.wrapper-info{
  height: 100vh - @header-height;
  width: @width-1;
}
@import "src/app/less/global_style";


.page-content{
  flex-direction: row;
  flex-wrap: wrap;
}

.info-text{
  padding: @pad-lr;
}

.wrapper-info{
  height: 100vh - @header-height;
  width: @width-1;
}
