<app-page-content text="Find Staff">

  <form class="form" (ngSubmit)="onSubmit()">

    <label for="firstName">First name</label>
    <input type="text" id="firstName" name="firstName" [(ngModel)]="firstName" placeholder="First name" >

    <label for="lastName">Last name</label>
    <input type="text" id="lastName" name="lastName" [(ngModel)]="lastName" placeholder="Last name">

    <input type="submit" value="Find Staff" class="btn">

  </form>

  <app-small-button text="Get contact list" (click)="getContacts()"></app-small-button>

  <div>
    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>

      <tr *ngFor="let staffMember of staff">
        <td>{{staffMember.firstName}}</td>
        <td>{{staffMember.name}}</td>
        <td>{{staffMember.mail}}</td>
        <td [class]="checkSelection(staffMember.id)"><button (click)="selectStaff(staffMember.id)" type="button" class="btn btn-primary">Select</button></td>


<!--        <td><input type="checkbox" name="selectStaff" [checked]="checks" (change)="toggleSelectedStaff(staffMember.id)"></td>-->
      </tr>


    </table>
  </div>


  <div>
    <h2>{{selectedStaffMember.firstName}} {{selectedStaffMember.name}}</h2>
    <p></p>

  </div>

  <table>
    <title>Shifts</title>

    <tr>
      <th>No.</th>
      <th>Arrived At</th>
      <th>Left At</th>
      <th>Date</th>
    </tr>

    <tr *ngFor="let shiftId of selectedStaffMemberShifts.keys()">
      <td></td>
      <td>{{selectedStaffMemberShifts.get(shiftId).arrivedAt}}</td>
      <td>{{selectedStaffMemberShifts.get(shiftId).leftAt}}</td>
      <td><input type="checkbox" name="selectedShift" [checked]="checks" (change)="toggleSelectedShifts(shiftId)"></td>
    </tr>

  </table>


</app-page-content>
