<app-page-content text="Guests">

  <div class="page-div-1">

    <form class="form" (ngSubmit)="onSubmitFind()">

      <div class="input-wrap">
        <label for="firstName">First name</label>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="firstName" placeholder="First name" required="">
      </div>

      <div class="input-wrap">
        <label for="lastName">Last name</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="lastName" placeholder="Last name">
      </div>
      <div class="input-wrap">
        <label for="fromDate">From</label>
        <input type="time" id="fromDate" name="fromTime" [(ngModel)]="fromDate" placeholder="From">
      </div>

      <div class="input-wrap">
        <label for="toDate">To</label>
        <input type="time" id="toDate" name="toDate" [(ngModel)]="toDate" placeholder="To">
      </div>

      <button type="submit" class="small-button btn btn-success">Find Guest</button>

    </form>

    <app-small-button text="New Guest" routingLink="/new-guest"></app-small-button>

  </div>

  <div class="page-div-2">


  <div class="table-div">

    <div class="top">
      <app-small-button text="Select all" (click)="selectAllToggle()"></app-small-button>
      <app-small-button text="Show all guests" (click)="showAll()"></app-small-button>
      <app-small-button text="Delete" (click)="delete()"></app-small-button>
    </div>

    <div class="bottom">


    <table>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Last Email address</th>
        <th>Date</th>
        <th class="td-m">Edit</th>
        <th class="td-s">X</th>
      </tr>

      <tr *ngFor="let guest of guests">
        <td>{{guest.firstName}}</td>
        <td>{{guest.name}}</td>
        <td>{{guest.mail}}</td>
        <td>{{guest.arrivedAt}}</td>
        <td class="td-m"><button (click)="onEdit(guest.id)"type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Edit</button></td>
        <td class="td-s"><input type="checkbox" name="selectGuest" [checked]="allCheckBoxes" (change)="toggleSelectedGuest(guest.id)"></td>

      </tr>

    </table>
    </div>
  </div>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form" (ngSubmit)="onSubmitEdit(this.selectedGuestID)" id="editGuestForm">

              <label for="firstName">First name</label>
              <input type="text"  id="firstName2" name="firstName" [(ngModel)]="firstName2" placeholder="First name" required="">

              <label for="lastName">Last name</label>
              <input type="text" id="lastName2" name="lastName" [(ngModel)]="lastName2" placeholder="Last name">

              <label for="fromTime">From</label>
              <input type="time" id="fromTime" name="fromTime" [(ngModel)]="fromTime" placeholder="From">

              <label for="toTime">To</label>
              <input type="time" id="toTime" name="toTime" [(ngModel)]="toTime" placeholder="To">

              <label for="roomNumber"Room Number></label>
              <input type="number" id="roomNumber" name="roomNumber" [(ngModel)]="roomNumber" placeholder="Room number">

              <label for="phoneNumber"> Phone</label>
              <input type="string" id="phoneNumber"name="phoneNumber" [(ngModel)]="phoneNumber" placeholder="Phone number">

              <label for="email">Email</label>
              <input type="email" id="email"name="email" [(ngModel)]="emailAddress" placeholder="Email">

              <label for="street">Street</label>
              <input type="text" id="street" name="street" [(ngModel)]="street" placeholder="Street">

              <label for="houseNumber">House No.</label>
              <input type="number" id="houseNumber" name="houseNumber" [(ngModel)]="houseNumber" placeholder="No.">

              <label for="county">County</label>
              <input type="text" id="county"name="county" [(ngModel)]="county" placeholder="County">

              <label for="zipCode">Zip code</label>
              <input type="number" id="zipCode"name="zipCode" [(ngModel)]="zipCode" placeholder="Zip code">

              <label for="country">Country</label>
              <input type="text" id="country" name="country" [(ngModel)]="country" placeholder="Country">

            </form>
        </div>
        <div class="modal-footer">
          <input type="submit" value="Save changes" class="btn btn-secondary" form="editGuestForm"> <!--Todo make modal disappear-->
        </div>
      </div>
    </div>
  </div>


</app-page-content>

