<div class="d-flex flex-column cicbo-navigation" > <!--TODO onclick remove nav-->
  <app-nav-element routerLink="/" text="Home"></app-nav-element>
  <app-nav-element routerLink="/alarm" text="Alarm"></app-nav-element>
  <app-nav-element routerLink="/staff" text="Staff"></app-nav-element>
  <app-nav-element routerLink="/rooms" text="Rooms"></app-nav-element>
  <app-nav-element routerLink="/about" text="About"></app-nav-element>
  <app-nav-element routerLink="/gdpr" text="GDPR"></app-nav-element>
  <app-nav-element routerLink="/Legal Notice" text="Legal Notice"></app-nav-element>
</div>

<!--Todo routing animation to hide nav (hideNav)="onHideNav()"-->

