<div class="d-flex flex-column cicbo-navigation  "  > <!--TODO onclick remove nav-->
  <a routerLink="/"><div class="nav-element">Home</div></a>
  <a routerLink="/alarm"><div class="nav-element">Alarm</div></a>
  <a routerLink="/guests"><div class="nav-element">Guests</div></a>
  <a routerLink="/staff"><div class="nav-element">Saff</div></a>
  <a routerLink="/rooms"><div class="nav-element">Rooms</div></a>
  <a routerLink="/gdpr"><div class="nav-element">GDPR</div></a>
  <a routerLink="/legal-notice"><div class="nav-element">Legal Notice</div></a>
</div>
