<div class="d-flex flex-column cicbo-navigation" >
  <app-nav-element (hideNav)="onHideNav()" routerLink="/" text="Home"></app-nav-element>
  <app-nav-element (hideNav)="onHideNav()" routerLink="/alarm" text="Alarm"></app-nav-element>
  <app-nav-element (hideNav)="onHideNav()" routerLink="/guests" text="Guests"></app-nav-element>
  <app-nav-element (hideNav)="onHideNav()" routerLink="/staff" text="Staff"></app-nav-element>
  <app-nav-element (hideNav)="onHideNav()" routerLink="/rooms" text="Rooms"></app-nav-element>
  <app-nav-element (hideNav)="onHideNav()" routerLink="/about" text="About"></app-nav-element>
  <app-nav-element (hideNav)="onHideNav()" routerLink="/gdpr" text="GDPR"></app-nav-element>
  <app-nav-element (hideNav)="onHideNav()" routerLink="/Legal Notice" text="Legal Notice"></app-nav-element>
</div>


