// Colors -----------------------------------------------------
@green: #559C5E;
@light-green: #E6EBE8;
@gray-green: #5D6A5E;

#colors() {
  green: #559C5E;
  light-green: #E6EBE8;
  gray-green: #5D6A5E;
}

// Font-----------------------------------------------------
//-- Fontsize
@extra-large: 55px;
@large: 45px;
@medium: 25px;
@small: 20px;
@extra-small: 15px;

//--Font "weight"
@thin: Arial Rounded MT;
@thick: Arial Rounded MT;


.font(@fontFace, @fontSize, @color) {
  font-family: @fontFace, sans-serif;
  font-size: @fontSize;
  color: @color;
}

// Dimensions -----------------------------------------------------

@cicbo-green: green;
@cicbo-light-green: #cdfca9;
@cicbo-dark-green: #2d3429;
@cicbo-font: Arial;

@width-1: 500px;
@header-height: 75px;
@page-content-height: calc(100vh - 2 * @header-height);


@navigation-width: 500px;

@pad-lr: 25px;
@space-1: 25px;


.padding-lr {
  padding-left: @space-1;
  padding-right: @space-1;
}

// Buttons and links -----------------------------------------------------
.small-button {
  background-color: @green;
  .font(@thick, @small, white);
  border-radius: 30px;
  border-color: @green;
  margin: 10px;
}

a:hover, a:visited, a:link, a:active {
  color: white;
  text-decoration: none;
}

// Forms -----------------------------------------------------
input {
  background-color: @light-green;
  border-radius: 20px;
  padding: 5px 15px 5px 15px;
  .font(@thin, @small, @gray-green);
  border-style: none;
}

label {
  margin-right: 20px;
  .font(@thin, @small, @gray-green);
}

.input-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 0 15px 0;
}

// Tables -----------------------------------------------------
thead {
  position: absolute;
}

th, td {
  min-width: 250px
}

.td-s {
  min-width: 50px;
  max-width: 50px
}

.td-m {
  min-width: 100px;
  max-width: 100px
}

.td-l {
  width: 450px
}

th {
  background-color: @green;
  padding: 10px;
  border-style: solid;
  border-color: white;
  border-width: 3px;
  .font(@thick, @small, @gray-green)
}


td {
  background-color: @light-green;
  padding: 10px;
  border-style: solid;
  border-color: white;
  border-width: 3px;
  .font(@thick, @small, @gray-green)
}


//.page-content(@flex-direction){
//  display: flex;
//  flex-direction: @flex-direction;
//  height: calc(@page-content-height);
//  flex-wrap: wrap;
//  background-color: purple;
//}
