@import "src/assets/less/global_style";

.cicbo-navigation{
  width: 100%;
  height: 92vh;
}

.nav-element{
  border-bottom: white solid 3px;
  background: @cicbo-green;
  padding-left: 2%;
  height: 60px;
  color: white;
  text-decoration: none;
  font-family: @cicbo-font;
  font-size: 25px;
}

.spacer{
  display: flex;
  flex-grow: 2;
}

a:hover, a:visited, a:link, a:active{
  text-decoration: none;
}


