.cicbo-navigation{
  height: 100%;
  width: 20%;
  background: #559C5E;
  min-height: 100vh; /*TODO: make this perfectly fit the bottom-*/
}

.nav-element{
  border-bottom: white solid 3px;
  background: #559C5E;
  height: 60px;
  color: white;
  text-decoration: none;
  font-family: "Arial Rounded MT",sans-serif;
  font-size: 25px;
}

a:hover, a:visited, a:link, a:active{
  text-decoration: none;
}

