<div class="cicbo-navigation float-left fill-page align-self-stretch flex-grow-1 flex-grow" >
  <a href=""><div class="d-flex p-2 col-example nav-element">Home</div></a>
  <a href=""><div class="d-flex p-2 col-example nav-element">Notification</div></a>
  <a href=""><div class="d-flex p-2 col-example nav-element">Guests</div></a>
  <a href=""><div class="d-flex p-2 col-example nav-element">Staff</div></a>
  <a href=""><div class="d-flex p-2 col-example nav-element">Rooms</div></a>
  <a href=""><div class="d-flex p-2 col-example nav-element">GDPR</div></a>
  <a href=""><div class="d-flex p-2 col-example nav-element">Imprint</div></a>
</div>
