@import "src/app/less/global_style";


/*contains Header and page top, middle, and bottom */
.view{
  display: flex;
  flex-direction: column;
  height: 92vh;
  width: 100vw;
  overflow: scroll;
}


/*Page divisions*/

.page-top{
  flex-wrap: wrap;
  flex-direction: column;
  flex-shrink: 2;
}

.page-bottom{
  align-self: flex-end;
  width: 100vw;
  height: 55px;
}

.page-middle{
  flex-wrap: wrap;
  flex-grow: 1;
  flex-direction: row;
  align-content: stretch;
}


/*Page top*/
.page-title{
  width: 100vw;
  display: flex;
  align-content: center;
  align-self: flex-start;
  padding: @pad-lr;
  font-size: 45px;
  height: 55px;
}


/*Page middle*/
.information{
}


